<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kaplia Water</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="MobileOptimized" content="176"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="robots" content="noindex, nofollow"/>
    <!--    <script src="./js/telegram-webview.js"></script>-->
    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <script>
        function setThemeClass() {
            document.documentElement.className = Telegram.WebApp.colorScheme;
        }

        Telegram.WebView.onEvent('theme_changed', setThemeClass);
        setThemeClass();
    </script>
    <link href="./css/cafe.css" rel="stylesheet">
</head>
<body style="display:none">
<section class="cafe-page cafe-items">

    {{range $i, $item := .items}}
        <div class="cafe-item js-item" data-item-id="{{$item.ID}}" data-item-price="{{$item.Price}}">
            <div class="cafe-item-counter js-item-counter">1</div>
            <div class="cafe-item-photo">
                <picture class="cafe-item-lottie js-item-lottie">
                    <img src="{{$item.PhotoURL}}">
                </picture>
            </div>
            <div class="cafe-item-label">
                <span class="cafe-item-title">{{$item.Title}}</span>
                <span class="cafe-item-price">₴{{price_to_str $item.Price}}</span>
            </div>
            <div class="cafe-item-buttons">
                <button class="cafe-item-decr-button js-item-decr-btn button-item ripple-handler">
                    <span class="ripple-mask"><span class="ripple"></span></span>
                </button>
                <button class="cafe-item-incr-button js-item-incr-btn button-item ripple-handler">
                    <span class="button-item-label">ADD</span>
                    <span class="ripple-mask"><span class="ripple"></span></span>
                </button>
            </div>
        </div>
    {{end}}
    <div class="cafe-item-shadow"></div>
    <div class="cafe-item-shadow"></div>
    <div class="cafe-item-shadow"></div>
    <div class="cafe-item-shadow"></div>
</section>
<section class="cafe-page cafe-order-overview">
    <div class="cafe-block">
        <div class="cafe-order-header-wrap">
            <h2 class="cafe-order-header">Ваше замовлення</h2>
            <span class="cafe-order-edit js-order-edit">Редагувати</span>
        </div>
        <div class="cafe-order-items">
            {{range $i, $item := .items}}
                <div class="cafe-order-item js-order-item" data-item-id="{{$item.ID}}">
                    <div class="cafe-order-item-photo">
                        <picture class="cafe-item-lottie js-item-lottie">
                            <img src="{{$item.PhotoURL}}">
                        </picture>
                    </div>
                    <div class="cafe-order-item-label">
                        <div class="cafe-order-item-title">{{$item.Title}} <span class="cafe-order-item-counter"><span
                                        class="js-order-item-counter">1</span>x</span></div>
                        <div class="cafe-order-item-description">{{$item.Description}}</div>
                    </div>
                    <div class="cafe-order-item-price js-order-item-price"></div>
                </div>
            {{end}}
        </div>
    </div>
    <form class="cafe-text-field-wrap" id="js-order-form">
        <input type="date" class="cafe-date-field js-order-date-field cafe-block" required>
        <div class="cafe-text-field-hint">
            Дата доставки замовлення.
        </div>
        <textarea class="cafe-text-field js-order-address-field cafe-block" rows="1"
                  placeholder="Адреса…" required></textarea>
        <div class="cafe-text-field-hint">
            Вулиця, номер будинку, квартири тощо.
        </div>
        <textarea class="cafe-text-field js-order-comment-field cafe-block" rows="1"
                  placeholder="Додати коментар…"></textarea>
        <div class="cafe-text-field-hint">
            Будь які деталі, прохання та побажання.
        </div>
    </form>
</section>
<div class="cafe-status-wrap">
    <div class="cafe-status js-status"></div>
</div>
<script src="./js/jquery.min.js"></script>
<script src="./js/cafe.js"></script>
<script>Cafe.init({"apiUrl": "\/shop\/api", "userId": 0, "userHash": null, "debug": true});</script>
</body>
</html>